{{#cartItems}}
<div class="cart-item border-top border-bottom">
    <div class="row align-items-center">
        <div class="col-lg-5 col-md-3">
            <div class="cart-info d-flex flex-wrap align-items-center mb-4">
                <div class="col-lg-3">
                    <div class="card-image">
                        <img src="{{image}}" alt="{{{shortName}}}" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="card-detail ps-3">
                        <h5 class="card-title">
                            <a href="product.html?id={{id}}" class="text-decoration-none">
                                {{{shortName}}}</a>
                        </h5>
                        <div class="card-price">
                            <span class="money text-muted">{{discountPrice}}&euro;</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- quantity buttons -->
        <div class="col-lg-6 col-md-7">
            <div class="row d-flex">
                <div class="col-md-4">
                    <div class="input-group product-qty">
                                            <span class="input-group-btn">
                                                <a href="/cart/decrease/{{id}}" role="button"
                                                   class="btn btn-light btn-number">
                                                  <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                                </a>
                                            </span>
                        <input type="text" id="quantity" name="quantity" readonly
                               class="form-control input-number text-center w-50"
                               value="{{quantity}}" min="1" max="100">
                        <span class="input-group-btn">
                                            <a href="/cart/increase/{{id}}" role="button"
                                               class="btn btn-light btn-number">
                                                <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                            </a>
                                        </span>
                    </div>
                </div>

                <!-- subtotal -->
                <div class="col-md-8 text-center">
                    <div class="total-price">
                        <span class="money text-muted">{{totalPrice}}&euro;</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- trash icon -->
        <div class="col-lg-1 col-md-2">
            <div class="cart-remove">
                <a href="/cart/remove/{{id}}">
                    <svg width="32px">
                        <use xlink:href="#trash"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
{{/cartItems}}