<nav aria-label="Page navigation" class="d-flex justify-content-center mt-5">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link"
                href="?category={{category}}&sort={{sort}}&page={{prevPage}}"
                aria-label="Previous">&laquo;</a>
        </li>
        {{#pages}}
        <li class="page-item {{value}}">
            <a class="page-link"
                href="?category={{category}}&sort={{sort}}&page={{key}}">{{key}}</a>
        </li>
        {{/pages}}
        <li class="page-item">
            <a class="page-link"
                href="?category={{category}}&sort={{sort}}&page={{nextPage}}"
                aria-label="Next">&raquo;</a>
        </li>
    </ul>
</nav>
